<app-nav></app-nav>
<div class="container mt-4">
  <form #regForm="ngForm" (ngSubmit)="onSubmitForm()">
      <div class="card mt-4 shadow">
          <div class="card-header bg-info text-white">
              <h2>Add Bike</h2>
          </div>
          <div class="card-body">
              <div [class]="isError?'alert alert-danger':'d-none'" class="my-4">{{ message }}</div>
              <div [class]="isSuccess?'alert alert-success':'d-none'" class="my-4">{{ message }}</div>
              <div class="form-group mt-4">
                  <input type="text" #bname="ngModel" [class.is-invalid]="bname.errors && bname.touched" required class="form-control" name="bikename" placeholder="Bike Name" [(ngModel)]="bike.bname"/>
                  <div *ngIf="bname.errors && bname.touched">
                      <div class="text-danger">Bike Name is Required</div>
                  </div>
              </div>
              <div class="form-group mt-4">
                  <input type="text" #bdesc="ngModel" [class.is-invalid]="bdesc.errors && bdesc.touched" required class="form-control" name="bikedescription" placeholder="Bike Description" [(ngModel)]="bike.bdesc"/>
                  <div *ngIf="bdesc.errors && bdesc.touched">
                      <div class="text-danger" >Bike Description is Required</div>
                  </div>
              </div>
              <div class="form-group mt-4">
                  <input type="text" #pday="ngModel" [class.is-invalid]="pday.errors && pday.touched" required class="form-control" name="pricepday" placeholder="Price Per Day" [(ngModel)]="bike.pday"/>
                  <div *ngIf="pday.errors && pday.touched">
                      <div class="text-danger">Price Per Day is Required</div>
                  </div>
              </div>
              <div class="form-group mt-4">
                <input type="text" #tot="ngModel" [class.is-invalid]="tot.errors && tot.touched" required class="form-control" name="total" placeholder="Total No. of Bikes" [(ngModel)]="bike.total"/>
                <div *ngIf="tot.errors && tot.touched">
                    <div class="text-danger">It is Required</div>
                </div>
              </div>

              <!-- <div class="form-group mt-4">
                <input type="text" #img="ngModel" [class.is-invalid]="img.errors && img.touched" required class="form-control" name="Img" placeholder="Bike Image Url" [(ngModel)]="bike.bikeimgurl"/>
                <div *ngIf="img.errors && img.touched">
                    <div class="text-danger">It is Required</div>
                </div>
              </div> -->
              <br>
              Choose Bike Image:- <input type="file" class="form-control" name="image" (change)="selectImage($event)" />

              <div class="form-group text-end mt-4">
                  <button class="btn btn-info" [disabled]="regForm.form.invalid">ADD</button>
              </div>
          </div>
      </div>
  </form>
</div>

