

.example-card {
  max-width: 400px;
  margin: auto;
}

.example-header-image {
  background-image: url('https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png?rev=2540745');
  background-size: cover;
}

.img{
  background-image: url("https://images.unsplash.com/photo-1558981852-426c6c22a060?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80");

  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-attachment: fixed;
  /* background-color: rgb(255, 14, 26); */
}

.header{
  background-color: #C9A27B;
}

